<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <fi-status-card [title]="statusCard.title"
                     [type]="statusCard.type"
                     [value]="statusCard.value"
                     >
      <i [ngClass]="statusCard.iconClass"></i>
    </fi-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3  col-md-6">
    <fi-breakdown-currency></fi-breakdown-currency>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <fi-breakdown-instrument></fi-breakdown-instrument>
  </div>
</div>