<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 
<div style="display: block; float: right; width: 100%">
  <div style="display: block; float: left; width: 50%">
    <canvas baseChart
            [data]="currencyPieChartData"
            [labels]="currencyPieChartLabels"
            [colors]="currencyPieChartColors"          
            [chartType]="'pie'"
            [options]="pieChartOptions"
            (chartHover)="currencyPieChartHovered($event)"
            (chartClick)="currencyPieChartClicked($event)">
    </canvas>
  </div>
  <div style="display: block; float: right; width: 50%">
    <canvas baseChart
            [data]="instrumentPieChartData"
            [labels]="instrumentPieChartLabels"
            [colors]="instrumentPieChartColors"
            [options]="pieChartOptions"
            [chartType]="'pie'"
            (chartHover)="instrumentTypePieChartHovered($event)"
            (chartClick)="instrumentTypePieChartClicked($event)">
    </canvas>
  </div>
  <div  style="display: block; float: right; width: 100%">
    <ag-grid-angular
      [pagination]="true" 
      [enableFilter]="true"
      [enableSorting]="true"
      [enableColResize]="true"
      style="width: 100%; height: 500px;" 
      class="ag-theme-balham"
      [rowData]="rowData" 
      [columnDefs]="columnDefs"
      (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
  </div>
{{currencyPieChartData}}
{{currencyPieChartLabels}}

</div>
<router-outlet></router-outlet>
