<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
<ag-grid-angular
    [pagination]="true" 
    [enableFilter]="true"
    [enableSorting]="true"
    [enableColResize]="true"
    style="width: 100%; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
     (gridReady)="onGridReady($event)"
    >
</ag-grid-angular>

<div style="display: block">
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>

</div>
<router-outlet></router-outlet>
