apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "microservices.fullname" . }}.valuation-service
  namespace: {{ .Release.Namespace }} 
  labels:
    {{- include "microservices.labels" . | nindent 4 }}
    {{- include "microservices.labels" . | nindent 4 }}.valuation-service
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "microservices.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: {{ include "microservices.fullname" . }}.valuation-service
        {{- include "microservices.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "microservices.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
      - name: check-instrument-service
        image: curlimages/curl
        command: ['sh', '-c', 'until curl -X GET http://{{ include "microservices.fullname" . }}-instrument-service:28080/instruments/count; do echo "Waiting for Instrument Service"; sleep 5; done;']
      - name: propagate-instruments
        image: curlimages/curl
        command: ['sh', '-c', 'curl -X POST http://{{ include "microservices.fullname" . }}-instrument-service:28080/instruments/propagateAllInstruments']
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: {{ .Values.image.repository }}valuation-service:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: THORNTAIL_KAFKA_DASH_CONFIGURATION_HOST
              value: "{{ .Release.Name }}-kafka"
            - name: THORNTAIL_KAFKA_DASH_CONFIGURATION_POST
              value: "9092"       
            - name: THORNTAIL_PORT_OFFSET
              value: "0"
          ports:
            - name: http
              containerPort: 28080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /valuation?currency=USD
              port: http
            initialDelaySeconds: 60
            periodSeconds: 20              
          readinessProbe:
            httpGet:
              path: /valuation?currency=USD
              port: http
            initialDelaySeconds: 60
            periodSeconds: 20              
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}